/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2{
  text-align: center;
}

/* Section Styles */
.section1,
.CreateSection,
.ShowSection {
  margin-bottom: 20px;
  padding: 10px;
}

.section1 input,
.CreateSection input,
.CreateSection select {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.section1 button,
.CreateSection button {
  width: 100%;
  padding: 10px;
  background-color: #05700b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.section1 button:hover,
.CreateSection button:hover {
  background-color: #034704;
}

/* Show Section Styles */
.ShowSection h4 {
  text-align: center;
  margin-bottom: 20px;
}

.expense-list {
  list-style: none;
  padding: 0;
}

.expense-item {
  padding: 15px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.expense-item span {
  margin: 3px 0;
}
